{ "parser": "babel-eslint"

, "env":
  { "browser": true
  , "node": true
  , "es6": true
  }

, "extends": "airbnb"

, "plugins":
  [ "react"
  , "immutable"
  ]
, "rules":
  { "array-bracket-spacing": 0
  , "comma-dangle": 0
  , "comma-style": ["error", "first"]
  , "global-require": 0
  , "indent": 0

  , "immutable/no-mutation": 2

  , "import/extensions": 0
  , "import/no-extraneous-dependencies": 0
  , "import/no-unresolved": 0

  , "react/forbid-prop-types": 0
  , "react/prop-types": 0
  , "react/jsx-filename-extension": 0
  }
}
